<div class="app-container">
  <div class="app-container-left">
    <button type="button" 
            class="btn btn-outline-success"
            (click)="onCreateEmployeeClick()">Add New Employee</button>
    <div class="search-container">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
    </div>
    <app-employee-list-view></app-employee-list-view>
  </div>
  <div class="app-container-right">
    <router-outlet></router-outlet>
  </div>
</div>